{% extends 'public/layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
   
    <!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{{ asset('images/img1.png') }}" alt="#"/>
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2>{{ homepage.title }}</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>{{ homepage.body }}</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Lire plus ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->



    <!-- section -->
    <div class="section layout_padding ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2>{{ homepage.titleAbout }}</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>{{ homepage.textAbout }}</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Lire plus ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{{ asset('images/img3.png') }}" alt="#"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->




    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('homepage_index') }}">Retour à la liste</a><br>
        <a href="{{ path('homepage_edit', {'id': homepage.id} ) }}">Modifier</a>
        {{ include('homepage/_delete_form.html.twig') }}        
    {% endif %}

    
{% endblock %}
