{% extends 'admin/layout.html.twig' %}

{% block title %}Demandes de vontact{% endblock %}

{% block body %}

    <div class="section layout_padding padding_top_0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span class="theme_color"></span>Demandes de contact</h2>
                        </div>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Email</th>
                <th>Objet</th>
                <th>Message</th>
                <th>Date d'envoi</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.objet }}</td>
                <td>{{ contact.message }}</td>
                <td>{{ contact.created|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Supprimer</a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>


{% endblock %}
